@model MedShare.Models.Instituicao

@{
    ViewData["Title"] = "Editar Instituição";
}

<h2>Editar Dados da Instituicao</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditInstituicao" method="post">
            <input type="hidden" asp-for="InstituicaoId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InstituicaoNome" class="control-label"></label>
                <input asp-for="InstituicaoNome" class="form-control" />
                <span asp-validation-for="InstituicaoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituicaoEmail" class="control-label"></label>
                <input asp-for="InstituicaoEmail" class="form-control" />
                <span asp-validation-for="InstituicaoEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituicaoCNPJ" class="control-label"></label>
                <input asp-for="InstituicaoCNPJ" class="form-control" />
                <span asp-validation-for="InstituicaoCNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituicaoEndereco" class="control-label"></label>
                <input asp-for="InstituicaoEndereco" class="form-control" />
                <span asp-validation-for="InstituicaoEndereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituicaoSenha" class="control-label"></label>
                <input asp-for="InstituicaoSenha" class="form-control" type="password" />
                <span asp-validation-for="InstituicaoSenha" class="text-danger"></span>
            </div>
            <div class="form-group d-flex gap-2">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-secondary" href="javascript:history.back()">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
