@model MedShare.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<h2>Acesse sua Conta</h2>

<!--<h4>Usuario</h4>-->
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioEmail" class="control-label"></label>
                <input asp-for="UsuarioEmail" class="form-control" />
                <span asp-validation-for="UsuarioEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioSenha" class="control-label"></label>
                <input asp-for="UsuarioSenha" class="form-control" type="password" />
                <span asp-validation-for="UsuarioSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="perfil" class="control-label">Perfil</label>
                <select id="perfil" name="perfil" class="form-control">
                    <option value="Usuario">Admin</option>
                    <option value="Doador">Doador</option>
                    <option value="Instituicao">Instituição</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Acessar" class="btn btn-success" />
            </div>
        </form>
        <p>@ViewBag.Message</p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
